[defaults]
deprecation_warnings = False

[ssh_connection]
# Force the system to allow legacy Cisco DH Group algorithms
ssh_args = -o KexAlgorithms=+diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1,diffie-hellman-group1-sha1

