{% if interfaces_map is defined %}
{% for interface in interfaces_map %}
interface {{ interface.name }}
 description {{ interface.description }}
 no switchport
 ip address {{ interface.ip }} {{ interface.mask }}
 no shutdown
exit
!
{% endfor %}
{% endif %}

{% if port_channels is defined %}
{% for pc in port_channels %}
interface Port-channel{{ pc.id }}
 description {{ pc.description }}
 no switchport
 ip address {{ pc.ip }} {{ pc.mask }}
 no shutdown
exit
!
{% for member in pc.members %}
interface {{ member }}
 description Member of Port-channel{{ pc.id }}
 no switchport
 channel-group {{ pc.id }} mode active
 no shutdown
exit
!
{% endfor %}
{% endfor %}
{% endif %}

{% if vlans_list is defined %}
{% for vlan in vlans_list %}
vlan {{ vlan.id  }}
 name {{ vlan.name }}
exit
!
{% endfor %}
{% endif %}

{% if l2_port_channels is defined %}
{% for pc in l2_port_channels %}
interface Port-channel{{ pc.id }}
 description {{ pc.description }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan {{ pc.allowed_vlans }}
 no shutdown
exit
!
{% for member in pc.members %}
interface {{ member }}
 description Member of L2 Port-channel{{ pc.id }}
 switchport
 channel-group {{ pc.id }} mode active
 no shutdown
exit
!
{% endfor %}
{% endfor %}
{% endif %}
